/* General Styles */
body {
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-theme {
  --bg-color: #242424;
  --text-color: #f5f5f5;
}

body.light-theme {
  --bg-color: #f5f5f5;
  --text-color: #333333;
}

.dashboard-sidebar {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.nav-link {
  color: var(--text-color);
}

/* Sidebar */
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



.dashboard-sidebar {
  width: 12rem;
  background-color: #083644;
  color: #aaaaaa;
  position: fixed;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-header img {
  display: block;
  position: absolute;
  top:2rem;
  left:25%;
  height: auto;
}

.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
}

.dashboard-sidebar li {
  margin: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #2a2a2a;
  color: #ffffff;
}

.nav-link i {
  margin-right: 10px;
}

.nav-button {
  background: none;
  border: none;
  color: #aaaaaa;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #2a2a2a;
  color: #ffffff;
}

.theme-toggle button {
  background: none;
  border: none;
  color: #aaaaaa;
  font-size: 20px;
  cursor: pointer;
  /*min-width: 100%;*/
}

/* Content Area */
.dashboard-content {
  margin-left: 13rem;
  padding: 20px;
}

/* Welcome Card */
.welcome-card {
  background-color: #083644;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-info .profile{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.sidebar-header .user-avatar{
  width: 100px;
  height: 60px;
  margin-right: 20px;
  background-color: aliceblue;
}

/* dashboard description*/
.dashboard-description {
  background-color: var(--bg-color); 
  color: #333333; 
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(1, 106, 243, 0.2); 
  width: 50%;
  margin: 6rem auto; 
  text-align: center; 
  border: 1px solid #d6d6d7; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.dashboard-description:hover {
  transform: translateY(-8px); 
  box-shadow: 0 12px 24px rgba(1, 106, 243, 0.4); 
}
.dashboard-description h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #083644; 
}

.dashboard-description p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
  color: var(--text-color);
}


/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-sidebar {
    width: 70px;
  }

  .nav-link span {
    display: none;
  }

  .dashboard-content {
    margin-left: 90px;
  }
  .sidebar-header img{
    width:4rem;;
    height: 4rem;
    left:12%;
  }

.deconnexion{
   max-width: 100%;
   font-size: 10px;
  }
}
